*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    list-style: none;
}
@media screen (max-width: 1200px) {
    
}
@media screen (max-width: 998px) {
    
}
@media screen (max-width: 768px) {
    
}
@media screen (max-width: 576px) {
    
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1250px;
    margin: 0 auto;

}
.flex{
display: flex;
justify-content: space-between;
align-items: center;
}
.heder_ul{
    display: flex;
    gap: 62px;
}

.header{
    margin: 13px auto 15px;
}
.header_link{
    font-size: 14px;
line-height: 14px;
color: #1C1C1C;
}
.button{
    height: 40px;
    width: 157px;
    border-radius: 20px;
    background: #6F2CFF;
    border: none;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF
}
.button:hover{
    background: #c41f84
}
.main{
background: #F6BED9;
padding: 58px 0 59px;
}
.main_titel{
    font-weight: 700;
    font-size: 54px;
    line-height: 61px;
    max-width: 470px;
}
.main_taitl-violet{
    color: #6F2DFF;
}
.main_text{
    font-size: 18px;
    line-height: 30px;
    max-width: 438px;
    margin: 18px 0;
}
.main_text-bold{
font-weight: bold;
}
.main_input{
    height: 45px;
    width: 268px;
    border: 1px solid #6F2CFF;
    border-radius: 28px;
    padding-left: 26px;

}
.main_input::placeholder{
    font-size: 15px;
line-height: 21px;
color: rgba(0, 0, 0, 0.27);
}
.main_input:focus{
    outline: notr;
}

.main_button{
    height: 45px;
    width: 187px;
    margin-left: 9px;
    background: #6F2CFF;
    border-radius: 28px;
    font-size: 15px;
line-height: 21px;
color: #FFFFFF;
}


.main_footer{

    background: #20003C;
    padding: 50px 0;
}

.grow{
    margin: 136px auto ;
}
.grow_titel{
    font-weight: 700;
font-size: 40px;
line-height: 45px;
color: #1C1C1C;
max-width: 415px;
}
.grow_flex{
    display: flex;
    gap: 34px;
}
.grow_element{
    max-width: 333px;
    text-align: center;
}
.grow_item{
padding: 35px 0 85px ;
box-shadow: 0px 2px 4px rgba(192, 192, 192, 0.5);
border-radius: 0px 0px 7px 7px;
}
.grow_pretitle{
    font-size: 26px;
    line-height: 22px;
    margin-bottom: 28px;
}
.grow_text{
    font-size: 18px;
line-height: 22px;
color: #6F2CFF;
max-width: 219px;
margin: 0 auto;
}

.commers{
    margin-bottom: 136px;
    text-align: center;
}
.commers_titel{
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 79px;
}
.commers_pretitle{
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    margin: 42px 0 16px;
}
.commers_text{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    max-width: 314px;
}


.footer_ul{
    display: flex;
    gap: 74px;
}
.footer_link{
    font-size: 16px;
line-height: 21px;

color: #FFFFFF;
}
.footer_button{
    height: 40px;
    width: 157px;
    border-radius: 20px;
    background: #6F2CFF;
    border: none;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF
}